name: (Reuse) Pytest check

on:
  workflow_call:
    inputs:
      gitref:
        required: true
        type: string
      os:
        required: false
        type: string
        default: 'ubuntu-24.04'
      pyver:
        required: true
        type: string

jobs:
  check:
    name: Check
    runs-on: ${{ inputs.os }}
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.gitref }}

    - uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.5"
        python-version: ${{ inputs.pyver }}
        cache-dependency-glob: |
          ./pyproject.toml

    - name: Execute pytest
      run: >
        uvx
        --with-requirements pyproject.toml
        -w mypy -w pyright -w basedpyright -w ty -w 'pyrefly<0.47'
        pytest -vv

