name: (Reuse) Type check

on:
  workflow_call:
    inputs:
      gitref:
        required: true
        type: string
      os:
        required: false
        type: string
        default: 'ubuntu-24.04'
      pyver:
        required: true
        type: string

jobs:
  check:
    name: Check
    runs-on: ${{ inputs.os }}
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.gitref }}

    - uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.5"
        python-version: ${{ inputs.pyver }}
        cache-dependency-glob: |
          ./pyproject.toml

    - name: Install prerequisites
      run: |
        uv venv --python-preference only-managed
        uv pip install -r pyproject.toml
        uv pip install mypy pyright basedpyright ty pyrefly

    - name: Run Pyright
      run: |
        source .venv/bin/activate
        pyright src/

    - name: Run Basedpyright
      if: success() || failure()
      run: |
        source .venv/bin/activate
        basedpyright src/

    - name: Run Mypy
      if: success() || failure()
      run: |
        source .venv/bin/activate
        mypy src/

    - name: Run Ty
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ty check src/

    - name: Run Pyrefly
      if: success() || failure()
      run: |
        source .venv/bin/activate
        pyrefly check src/
